@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist-Black";

    src:
        local("Geist-Black"),
        local("Geist-Black"),
        url("/fonts/Geist/Geist-Black.woff2") format("woff2");
}

body {
    background-color: #f9f9f9;
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Geist-Black", sans-serif;
}
